/*  Admin Login  */

select{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.Admin_Login_Button-2,button{
    margin-top: 50px;
    margin-left: 0px;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    color: #080710;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.Admin_Login_Button-2:hover,
.Admin_Login_Button-2:active{
    box-shadow: 0 0 8px rgb(84, 149, 224);
}