body{
    background-position: 0 0;
    background-color: #080710;
    background-image: url('Background\ Pic\ 1.avif');
    background-size:100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.Background{
    width: 430px;
    height: 750px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}

form{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.507);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login_logo{
    width: 400px;
 height: 100px;
    margin: 0px auto;
    margin-top: 10px;
}
form h3{
    color: rgb(9, 59, 75);
    font-size: 32px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
}
form a{
    font-size: 14px;
    padding-left: 10px;
}
a:hover{
    color: blue;
}
a:active{
    color: red;
}

label{
    color: rgb(9, 59, 75);
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.Login_Button-1{
    margin-top: 50px;
    margin-left: 85px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(250, 250, 250);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}
button:active,
button:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 8px rgb(84, 149, 224);
}


/* Thank You Page */

.Thank_You_Box{
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    letter-spacing: 1px;
    padding: 30px 35px;
    text-align: center;
}

.TQbody{
    background-image: url('Background Pic 1.avif');
    background-repeat: no-repeat;
    background-size: cover;
}




